body {
    color: #555;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
}

h1 {
    text-align: center;
    display: block;
    border-bottom: 2px solid gray;
    margin-bottom: 0;
    padding-bottom: 2px;
}

ul.links {
    margin-top: 4px;
    padding: 0 0 4px 0;
    display:block;
    border-bottom: 2px solid gray;
}

ul.links li {
    display: inline;
    padding: 4px 8px;
    margin-right:0;
    border-left: 1px black solid;
    border-right: 1px black solid;
    background-color: #eee;
}

a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(e, e, e);
}

a {
    text-decoration: none;
}